@bgColor: rgb(244, 244, 244);
.textArea {
  border: none;
  background-color: @bgColor;
  transition: all 0s;
  &:hover {
    background-color: @bgColor;
    transition: all 0s;
    box-shadow: none;
    outline: none;
  }
  &:focus {
    outline: none;
    background-color: @bgColor;
    box-shadow: none;
  }
  &:focus-visible {
    outline: none;
    background-color: @bgColor;
    box-shadow: none;
  }
  &:focus-within {
    outline: none;
    background-color: @bgColor;
    box-shadow: none;
  }
}

.chatInput {
  background-color: @bgColor;
  border-radius: 6px;
  display: flex;
  align-items: end;
}

.submitBtn {
  margin-left: 10px;
  border: none;
  background-color: transparent!important;
  padding-bottom: 20px;
  &:hover {
    background-color: transparent!important;
  }
  &:focus {
    outline: none;
    background-color: transparent!important;
  }
}


.textAreaWrapper {
  flex: 1;
  padding: 10px;
}

.empty {
  width: 100%;
  padding: 10px;
}