.container {
  display: flex;
  flex-direction: column;
  gap: 2px;
  height: 100%;
  overflow: scroll;
}

.title {
  display: -webkit-box; /* 必须结合 -webkit-line-clamp 使用 */
  -webkit-box-orient: vertical; /* 设置盒子元素的排列方式为纵向 */
  -webkit-line-clamp: 3; /* 限制显示的行数 */
  overflow: hidden; /* 隐藏超出内容 */
  text-overflow: ellipsis; /* 使文本溢出部分显示省略号 */
  word-break: break-all;
}

.Segmented {
  display: flex;
  align-items: center;
  padding: 10px;
  top: 0;
  position: sticky;
  background: white;
  z-index: 99;
  flex-direction: column;
}

.aiResponse {
  padding: 10px 10px 100px 10px;
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  line-height: 23px;
  gap: 10px;
}


.chatInputWrapper {
  position: fixed;
  bottom: 10px;
  right: 10px;
  left: 10px;
}


.clipboardList {
  padding: 10px;
}

.askSomethingPopoverContainer {
  padding: 10px;
}

.historyBtn {
  position: absolute;
  left: 20px;
}

.userMessage {
  align-self: flex-end;
  color: #565454;
  display: flex;
  gap: 5px;
  align-items: baseline;
}

.assistantMessageWrapper {
  display: flex;
  gap: 5px;
  align-items: baseline;
  line-height: 23px;
  width: calc(100% - 25px);
}

.avatar {
  flex-shrink: 0;
  transform: translateY(2px);
}